.Card {
  width: 300px;
  height: 225px;
  // background: black;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-rows: 1fr 1fr;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  img {
    position: absolute;
    top: 0;
    width: 160%;
    z-index: -1;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  }
  h3 {
    color: white;
    font-size: 30px;
    margin: 20px 0 0 20px;
    width: 190px;
  }
  p {
    color: rgba(255, 255, 255, 0.8);
    align-self: end;
    font-size: 18px;
    margin: 0 0 20px 20px;
    text-transform: uppercase;
  }
}

.Card:hover {
  transform: scale(1.1, 1.1);
  img {
    transform: translateY(-13px);
  }
}
